html, 
body {
    font-family: 'Source Sans Pro';
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/***HEADER***/

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 1em;
    gap: 10px;
    background-position: 100%;
}
nav{
    display: flex;
    gap: 10px;
    margin-left: auto;
}
a{
    text-transform: uppercase;
    color: #000000;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
}

/***FOOTER***/

footer{
    text-align: center;
    background: #202020;
    color: #ECECEC;
    padding: 2em 0;
    margin: auto 0 0 0;
    width: 100%;
}
.footer-text{
    font-size: .75em;
    line-height: 110%;
    display: inline;
}
.footer-title{
    font-weight: 700;
}

/***HERO***/

.index-hero{
    background-image: url("images/muha-ajjan-sL2BRR1cuvM-unsplash.jpg");
    background-size: cover;
    color: #FFFFFF;
    text-shadow: 2px 2px black;
    padding: 5em 1em 1em 1em;
    margin-bottom: 0;
}
.hero{
    margin: 0 1rem;
}
.hero-title{
    font-size: 2rem;
}
.hero-content{
   margin: .5rem 0; 
}

/***CONTAINERS***/

.blog-three, .blog-six{
    margin: 1em 1em;
}

/***TYPOGRAPHY***/

.blog-title{
    font-size: 1.5rem;
}
.date{
    font-size: .875rem;
}
.article{
    padding: 1rem;
}
.recent{
    text-align: center;
}

/***BUTTON***/

.vm{
    text-align: center;
    font-weight: 700;
    text-decoration-line: underline;
    border: none;
    background: none;
    padding: 1em;
    width: 100%;
}

/***IMAGES***/

.blog-img, .post-img{
    border-radius: 3px;
    width: 100%;    
}
.blog-img{
    height: 45%;
}
.post-img{
    margin: 1rem;
}
.about-img{
    padding: 2rem 1rem;
}

/***UTILITIES***/

.z-tmargin{
    margin-top: 0;
}
.z-bmargin{
    margin-bottom: 0;
}
.z-margin{
    margin: 0;
}

/***MEDIA QUERIES***/

@media (min-width: 672px){
    .blog-six{
        display: grid;
        gap: .8em;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
    }
    .blog-three{
        display: grid;
        gap: .8em;
        grid-template: 1fr / 1fr 1fr 1fr;
    }
    .about-img-container{
        display: flex;
        align-items: center;
    }
    .article{
    margin: 0 3rem;
    }
}